<template>
  <div class="circle-chart">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 32 32">
      <circle cx="15" cy="15" r="14.4155" class="progress-bar__background" />

      <circle
        cx="15"
        cy="15"
        r="14.4155"
        :class="[
          'progress-bar__progress',
          `progress-bar__progress_${barColor}`,
        ]"
        ref="jsProgressBar"
      />
    </svg>
    <div class="circle-chart__description">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: "CircleChart",
  props: {
    value: {
      default: 0,
      type: [Number, Boolean],
    },
    maxValue: {
      default: null,
      type: Number,
    },
    isFullChart: {
      default: false,
      type: Boolean,
    },
    errorLimit: {
      default: 0,
      type: Number,
    },
  },
  mounted() {
    this.setProgress();
  },
  methods: {
    setProgress() {
      const progressBar = this.$refs.jsProgressBar;

      if (this.isFullChart) progressBar.style["stroke-dashoffset"] = 0;
      else
        progressBar.style["stroke-dashoffset"] =
          100 - ((100 * this.value) / this.maxValue / 100) * 100;
    },
  },
  computed: {
    barColor() {
      if (this.isFullChart) {
        if (this.value) return "green";
        else return "orange";
      }

      if (this.errorLimit > 0) {
        return this.errorLimit >= this.value ? "orange" : "green";
      }

      return "green";
    },
  },
  watch: {
    value: {
      handler: function () {
        this.setProgress();
      },
      deep: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.circle-chart {
  position: relative;
  &__description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

$progress-bar-stroke-width: 3.2;
$progress-bar-size: 145px;

svg {
  height: $progress-bar-size;
  transform: rotate(-90deg);
  width: $progress-bar-size;
}

.progress-bar__background {
  fill: none;
  stroke: $dark-blue;
  stroke-width: $progress-bar-stroke-width;
}

.progress-bar__progress {
  fill: none;
  stroke: $dark-blue;
  stroke: $chart-success;
  stroke-dasharray: 95 100;
  stroke-dashoffset: 100;
  stroke-linecap: round;
  stroke-width: $progress-bar-stroke-width;
  transition: stroke-dashoffset 1s ease-in-out;

  &_green {
    stroke: $chart-success;
  }

  &_dark {
    stroke: $dark-blue;
  }

  &_orange {
    stroke: $chart-error;
  }
}
</style>
