<template>
  <InlineSvg
    :src="require(`./assets/${type}.svg`)"
    :class="['icon', { 'change-color': isColorTheme }]"
  />
</template>

<script>
import { computed } from "vue";
import InlineSvg from "vue-inline-svg";

export default {
  name: "IconVue",
  components: {
    InlineSvg,
  },
  props: {
    type: {
      type: String,
      default: "",
    },
    isColorTheme: {
      type: Boolean,
      default: false,
    },
  },
  setup(props) {
    const component = computed(() => {
      return props.type ? props.type : "div";
    });

    return {
      component,
    };
  },
};
</script>

<style lang="scss" scoped>
.icon {
  &.change-color {
    ::v-deep * {
      fill: $icon-color;
    }
  }
}
</style>
