<template>
  <div class="chart-card">
    <div class="chart-card__title">{{ title }}</div>
    <div class="chart-card__chart">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  name: "ChartCard",
  props: {
    title: {
      default: "Title",
      type: String,
    },
  },
  computed: {
    userInfo() {
      return this.$store.state.user?.userInfo?.user || {};
    },
  },
};
</script>

<style lang="scss" scoped>
.chart-card {
  background-color: $background-info-card;
  padding: 15px 30px 30px 30px;
  min-height: 260px;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    height: 48px;
    display: flex;
    align-items: center;
  }
}
</style>
