<template>
  <div class="router-card" @click="routerPush">
    <div class="router-card__title">{{ title }}</div>
    <div class="router-card__icon">
      <Icon :type="icon" style="height: 100%" />
    </div>
    <NotificationCount
      class="router-card__notify"
      v-if="isShowNotify && notification > 0"
      :count="notification"
    />
  </div>
</template>

<script>
import Icon from "@/components/common/icon/icon.vue";
import NotificationCount from "@/components/common/NotificationCount.vue";
export default {
  components: { Icon, NotificationCount },
  name: "CardRoute",
  props: {
    title: {
      default: "",
      type: String,
    },
    icon: {
      default: "",
      type: String,
    },
    route: {
      default: "",
      type: String,
    },
    isShowNotify: {
      default: false,
      type: Boolean,
    },
  },
  data() {
    return {};
  },
  methods: {
    routerPush() {
      this.$router.push(this.$props.route);
    },
  },
  computed: {
    notification() {
      return this.$store.state.user.notification || 0;
    },
  },
};
</script>

<style lang="scss" scoped>
.router-card {
  padding: 40px 20px;
  cursor: pointer;
  background-color: $router-card;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 1px #00000033;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 220px;

  @include at("lg") {
    height: 240px;
  }

  @include at("hd") {
    height: 260px;
  }

  @include at("xl") {
    height: 300px;
  }

  &__notify {
    position: absolute;
    top: -20px;
    right: -20px;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;

    @include at("xl") {
      font-size: 36px;
    }
  }

  &__icon {
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include at("lg") {
      height: 147px;
    }
  }
}
</style>
