<template>
  <div class="user-info-card">
    <div class="user-info-card__name">
      {{ userInfo.name }}
    </div>
    <div class="user-info-card__date">
      {{ userInfo.birthday }}
    </div>
    <div class="user-info-card__number">
      {{ userInfo.tabNumber }}
    </div>
    <div class="user-info-card__position">
      {{ userInfo.position }}
    </div>
  </div>
</template>

<script>
export default {
  name: "UserInfoCard",

  computed: {
    userInfo() {
      return this.$store.state.user?.userInfo?.user || {};
    },
  },
};
</script>

<style lang="scss" scoped>
.user-info-card {
  background-color: $background-info-card;
  padding: 10px 15px;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 4px;

  &__name {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__date {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
  }

  &__number,
  &__position {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
</style>
