<template>
  <div class="home">
    <div class="home__content">
      <RouteCard
        v-for="(item, index) in links"
        :key="index"
        :title="item.title"
        :icon="item.icon"
        :route="item.route"
        :isShowNotify="item.isShowNotify"
      />
    </div>
  </div>
</template>

<script>
import RouteCard from "@/components/cards/RouteCard.vue";
export default {
  components: { RouteCard },
  name: "HomeView",
  data() {
    return {
      links: [
        {
          route: "/work",
          title: "Начать работу",
          icon: "otb",
        },
        {
          route: "/notification",
          title: "Уведомления",
          icon: "mail",
          isShowNotify: true,
        },
        {
          route: "/learn",
          title: "Обучение",
          icon: "book",
        },
        {
          route: "/achievments",
          title: "Достижения",
          icon: "achi",
        },
      ],
    };
  },
  mounted() {
    setInterval(() => {
      this.$store.dispatch("user/getUserNotify");
    }, 2000);
  },
};
</script>

<style lang="scss" scoped>
.home {
  padding: 55px;

  @include at("l") {
    padding: 75px;
  }

  @include at("lg") {
    padding: 105px;
  }

  @include at("hd") {
    padding: 115px;
  }

  @include at("xl") {
    padding: 185px;
  }

  &__content {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    gap: 60px;

    @include at("hd") {
      gap: 70px;
    }

    @include at("xl") {
      gap: 100px;
    }
  }
}
</style>
