<template>
  <div class="user-info" ref="userInfo">
    <template v-if="user">
      <div class="user-info__header">
        <SubHeader />
      </div>

      <div class="user-info__settings">
        <SwitchInput @switch="changeTheme" />
      </div>

      <div class="user-info__info">
        <UserInfoCard />
      </div>

      <div class="user-info__cards">
        <ChartCard title="Инструктаж">
          <CircleChart :isFullChart="true" :value="user?.briefing">
            <div style="width: 70px"><Icon type="inst" /></div>
          </CircleChart>
        </ChartCard>

        <ChartCard title="Предсменный экзаменатор">
          <CircleChart :isFullChart="true" :value="user?.exam">
            <div style="width: 62px"><Icon type="test" /></div>
          </CircleChart>
        </ChartCard>

        <ChartCard title="Тестов выполнено">
          <CircleChart
            :value="user?.testComplete"
            :maxValue="user?.maxTestComplete"
          >
            <div class="user-info__day-chart">
              {{ user?.testComplete || 0 }}
            </div>
          </CircleChart>
        </ChartCard>

        <ChartCard title="Аттестация через">
          <CircleChart
            :maxValue="user?.lastCertificationDay"
            :value="user?.certificationDay"
            :errorLimit="30"
          >
            <div class="user-info__day-chart">
              {{ user?.certificationDay || 0 }}
              <span>Дней</span>
            </div>
          </CircleChart>
        </ChartCard>
      </div>
    </template>
    <div v-else>Форма входа</div>
  </div>
</template>

<script>
import SubHeader from "@/components/common/SubHeader.vue";
import UserInfoCard from "@/components/cards/UserInfoCard.vue";
import ChartCard from "@/components/cards/ChartCard.vue";
import Icon from "@/components/common/icon/icon.vue";
import CircleChart from "@/components/charts/CircleChart.vue";
import PerfectScrollbar from "perfect-scrollbar";
import SwitchInput from "@/components/common/inputs/SwitchInput.vue";

import "perfect-scrollbar/css/perfect-scrollbar.css";

export default {
  name: "UserInfo",
  components: {
    SubHeader,
    UserInfoCard,
    ChartCard,
    Icon,
    CircleChart,
    SwitchInput,
  },
  data() {
    return {
      ps: null,
    };
  },
  mounted() {
    const container = this.$refs.userInfo;
    this.ps = new PerfectScrollbar(container);
  },
  methods: {
    changeTheme(value) {
      document.documentElement.setAttribute(
        "data-theme",
        !value ? "dark" : "light"
      );
    },
  },
  computed: {
    user() {
      return this.$store.state.user.userInfo?.progressInfo || null;
    },
  },
  created() {
    this.$store.dispatch("user/getUser");
  },
};
</script>

<style lang="scss" scoped>
.user-info {
  background-color: $background-left-menu;
  min-height: 100vh;
  height: 100vh;
  border-radius: 0 10px 10px 0;
  box-shadow: 0px 0px 10px 1px $background-left-menu;
  padding: 30px 40px;
  position: relative;

  &__header {
    margin-bottom: 30px;
    margin-right: -40px;
    margin-left: -40px;
  }

  &__settings {
    margin-bottom: 53px;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  &__info {
    margin-bottom: 58px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;

    @include at("l") {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__day-chart {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 20px;

    span {
      font-size: 20px;
      font-weight: 700;
    }
  }

  &__test-chart {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    line-height: 20px;
  }
}
</style>
