/* Scales (mobile-first) */
$scales: (
  "s": 1280px,
  "l": 1480px,
  "lg": 1600px,
  "hd": 1720px,
  "xl": 1920px,
) !default;

@mixin at($scale) {
  @if type-of($scale) == string {
    $breakpoint: map-get($scales, $scale);
    @media (min-width: $breakpoint) {
      @content;
    }
  } @else {
    $breakpoint: $scale;
    @media (min-width: $breakpoint) {
      @content;
    }
  }
}

@mixin below($scale) {
  @if type-of($scale) == string {
    $breakpoint: map-get($scales, $scale) - 1;
    @media (max-width: $breakpoint) {
      @content;
    }
  } @else {
    $breakpoint: $scale - 1;
    @media (max-width: $breakpoint) {
      @content;
    }
  }
}

@mixin between($scale-min, $scale-max) {
  @if type-of($scale-min) == string and type-of($scale-max) == number {
    $bp-min: map-get($scales, $scale-min);
    $bp-max: $scale-max - 1;

    @media (min-width: $bp-min) and (max-width: $bp-max) {
      @content;
    }
  }

  @if type-of($scale-min) == string and type-of($scale-max) == string {
    $bp-min: map-get($scales, $scale-min);
    $bp-max: map-get($scales, $scale-max) - 1;

    @media (min-width: $bp-min) and (max-width: $bp-max) {
      @content;
    }
  }

  @if type-of($scale-min) == number and type-of($scale-max) == string {
    $bp-min: $scale-min;
    $bp-max: map-get($scales, $scale-max) - 1;

    @media (min-width: $bp-min) and (max-width: $bp-max) {
      @content;
    }
  }

  @if type-of($scale-min) == number and type-of($scale-max) == number {
    $bp-min: $scale-min;
    $bp-max: $scale-max - 1;

    @media (min-width: $bp-min) and (max-width: $bp-max) {
      @content;
    }
  }
}

@function rem($px) {
  @return $px / 16px * 1rem;
}
