<template>
  <div class="header">
    <div></div>
    <img src="@/assets/images/logo.png" />
  </div>
</template>

<script>
export default {
  name: "HeaderVue",
};
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
</style>
