<template>
  <div class="notification-count">
    <div>{{ count }}</div>
  </div>
</template>

<script>
export default {
  name: "NotificationCount",
  props: {
    count: {
      type: Number,
      default: null,
    },
  },
};
</script>

<style lang="scss" scoped>
.notification-count {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: $green;
  font-size: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}
</style>
