<template>
  <div class="sub-header">
    <div class="sub-header__date">
      <div>{{ date }}</div>
      <div>{{ time }}</div>
    </div>

    <div class="sub-header__button-logout" @click="logOut">
      <span>Выход</span>
      <Icon type="logout" :isColorTheme="true" />
    </div>
  </div>
</template>

<script>
import timestamp from "time-stamp";
import Icon from "@/components/common/icon/icon.vue";
export default {
  name: "SubHeaderVue",
  components: {
    Icon,
  },
  data() {
    return {
      idInterval: null,
      time: null,
    };
  },
  created() {
    this.idInterval = setInterval(this.getNow, 1000);
  },
  methods: {
    getNow() {
      this.time = timestamp("HH:mm");
    },
    logOut() {
      this.$store.dispatch("user/logOut");
      this.$router.push("/login");
    },
  },
  beforeDestroy() {
    clearInterval(this.idInterval);
  },
  computed: {
    date() {
      return timestamp("DD.MM.YYYY");
    },
  },
};
</script>

<style lang="scss" scoped>
.sub-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;

  &__date {
    font-size: 20px;
    font-weight: 700;
  }

  &__button-logout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
  }
}
</style>
