<template>
  <div id="app" class="app">
    <div class="app__view">
      <div class="app__left-nemu">
        <UserInfo />
      </div>

      <div class="app__content">
        <HeaderVue />
        <router-view class="app__content-view" />
      </div>
    </div>
  </div>
</template>

<script>
import UserInfo from "@/components/UserInfo.vue";
import HeaderVue from "@/components/common/Header.vue";

export default {
  components: {
    UserInfo,
    HeaderVue,
  },
};
</script>
<style lang="scss">
.app {
  color: $text-color;

  &__view {
    background-color: $background;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  &__left-nemu {
    grid-column: 1/5;

    @include at("hd") {
      grid-column: 1/5;
    }
  }

  &__content-view {
    height: calc(100% - 117px);
  }

  &__content {
    height: 100vh;
    grid-column: 5/13;

    @include at("hd") {
      grid-column: 5/13;
    }
  }
}

#app {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
