:root {
  --background-color: #56698f;
  --background-color-left: #353d54;
  --text-color: #fff;
  --icon-color: #fff;
}

html[data-theme="dark"] {
  --background-color: #56698f;
  --background-color-left: #353d54;
  --text-color: #fff;
  --icon-color: #fff;
}

html[data-theme="light"] {
  --background-color: #fff;
  --background-color-left: #f2f2f2;
  --text-color: #000;
  --icon-color: #000;
}

$background: var(--background-color);
$dark-blue: #353d54;
$background-left-menu: var(--background-color-left);
$background-route-card: #ef7e23;
$background-info-card: #596c92;
$text-color: var(--text-color);
$icon-color: var(--icon-color);
$green: #b1d642;
$chart-success: #b1d642;
$chart-error: #ef7e23;
$notify-color: #abd929;
$router-card: #ef7e23;
