<template>
  <div class="switch-input">
    <label class="switch">
      <input type="checkbox" v-model="value" class="switch__input" checked />
      <span class="switch__slider">
        <Icon class="switch__switcher" type="switcher" :isColorTheme="true" />
      </span>
    </label>
  </div>
</template>

<script>
import Icon from "@/components/common/icon/icon.vue";
export default {
  name: "SwitchInput",
  components: {
    Icon,
  },
  data() {
    return {
      value: false,
    };
  },
  watch: {
    value() {
      this.$emit("switch", this.value);
    },
  },
};
</script>

<style lang="scss" scoped>
.switch {
  position: relative;
  display: inline-block;
  width: 76px;
  height: 20px;

  &__input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .switch__slider {
      background-color: $green;
    }
    &:focus + .switch__slider {
      box-shadow: 0 0 1px $green;
    }

    &:checked + .switch__slider .switch__switcher {
      transform: translate(18px, -50%);
    }
  }

  &__switcher {
    position: absolute;
    content: "";
    left: 4px;
    bottom: 4px;
    transition: 0.4s;
    border-radius: 50%;
    top: 50%;
    transform: translate(calc(-50% + 12px), -50%);
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #56698f;
    transition: 0.4s;
    border-radius: 34px;
  }
}
</style>
